pruebas*.*
venv/
venv1/
.vconv/
.idea/
__pycache__/
venv_conv/*
workdir
*.coverage
*.pdf
*.wav
*.exe
*copy*.*
*.rar
CONVERTER/src/com/jalasoft/converter/factory.py
htmlcov/
.pytest_cache/
.gitignore
.dockerignore
